In [1]:
import pandas as pd
import numpy as np

from datetime import datetime

from collections import Counter

fpath='../比赛/轨迹数据.txt'

In [2]:
df=pd.read_csv(fpath)
df=df.sort_values(by='time')

In [5]:
df['time'].head()

29194    1493852410
24479    1493852411
29195    1493852413
24480    1493852414
29196    1493852416
Name: time, dtype: int64

In [6]:
df['time'].tail()

571821    1494982796
571670    1494982797
591384    1494982798
574937    1494982798
571822    1494982799
Name: time, dtype: int64

In [3]:
#开始时间,结束时间
df['time'].min(),df['time'].max()

(1493852410, 1494982799)

In [4]:
time_min=1493852410

In [5]:
df['time2']=df['time']-time_min
df['time2'].head()

29194    0
24479    1
29195    3
24480    4
29196    6
Name: time2, dtype: int64

In [6]:
df['time2'].max()

1130389

In [7]:
import pickle
#写
with open('df','wb') as f:
    pickle.dump(df, f)#序列化

In [8]:
df.head()

,vehicle-id,time,x-coordinate,y-coordinate,speed,category,time2
29194,c243b97c579b441827b59ade5f9c5c3b,1493852410,521579.616152,57525.893385,9.2,1,0
24479,f9643897f57a000c2facc2fe39de8947,1493852411,521461.647074,56693.716517,7.2,1,1
29195,c243b97c579b441827b59ade5f9c5c3b,1493852413,521575.164460,57498.213683,9.3,1,3
24480,f9643897f57a000c2facc2fe39de8947,1493852414,521466.098708,56716.931752,7.8,1,4
29196,c243b97c579b441827b59ade5f9c5c3b,1493852416,521570.712769,57467.855299,10.2,1,6